In [52]:
#第一題
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
df_train = pd.read_csv(r"C:\Users\QQ\Desktop\titanic_train.csv")
df_test = pd.read_csv(r"C:\Users\QQ\Desktop\titanic_test.csv")
print(df_train.shape)
print(df_train.head())
print(df_test.head())

# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1) #axis=1是
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test],axis=0)#默認axis=0 直向接合
df.head(10)

# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()#reset不加不能跑???
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()#reset不加不能跑???
print(dtype_df)
#aggregate:可以对groupby的结果，同时应用多个函数；可以对groupby的结果更正列名。

# aList = [123, 'xyz', 'zara', 'abc'];
# aList.append( 2009 );
# print "Updated List : ", aList;
# 以上实例输出结果如下：
# Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):#重要寫法，記!!!
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
        
a=f'{len(int_features)} Integer Features : {int_features}\n' 
#加f字符串是在运行时进行渲染的，因此可以将任何有效的Python表达式放入其中。这可以让你做一些漂亮的事情。
b=f'{len(float_features)} Float Features : {float_features}\n'
c=f'{len(object_features)} Object Features : {object_features}'
print(a,b,c)

(891, 12)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
  Column Type  Count
0       int64      3
1     float64      2
2      object      5
3 Integer Features : ['Pclass', 'SibSp', 'Parch']
 2 Float Features : ['Age', 'Fare']
 5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [65]:
# int取平均
a=df[int_features].mean()
print(a)

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [66]:
# int取最大值
b=df[int_features].max()
print(b)

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [67]:
# int取相異值
c=df[int_features].nunique()
print(c)

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [68]:
# float取平均
d=df[float_features].mean()
print(d)

Age     29.881138
Fare    33.295479
dtype: float64

In [69]:
# float取最大值 
e=df[float_features].max()
print(e)

Age      80.0000
Fare    512.3292
dtype: float64

In [70]:
# float取相異值 
f=df[float_features].nunique()
print(f)

Age      98
Fare    281
dtype: int64

In [71]:
# object取平均
g=df[object_features].mean()
print(g)

Series([], dtype: float64)

In [72]:
# object取最大值
h=df[object_features].max()
print(h)

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [73]:
# object取相異值
i=df[object_features].nunique()
print(i)

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

In [ ]:
object在最大值跟平均時出現問題，因為有name無法進行運算

In [ ]:
#第二題
複數無法比大小，不屬於int也不屬於float